$fontSizeTitle: 16px;

$themeColor: #7a83cc;
$line: #d9d9d9;

$textColorPrimary: #333;
$textColorSub1: #666;
$textColorSub2: #999;
$textColorTip: #ccc;

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }
}
