@import '~@/styles/global.scss';

.Layout {
  height: 100vh;

  .body {
    display: flex;
    padding-top: 48px;
    height: 100vh;

    aside.ignore {
      width: 166px;
      background: #494d75;
      overflow: auto;
    }

    article {
      flex: 1;
      background: #f5f5fb;
      overflow: auto;
    }
  }
}
