.Header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 42px 0 24px;
  height: 48px;
  background: #fff;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.1);
  z-index: 99999;

  .logo {
    display: flex;
    align-items: center;
    a {
      overflow: hidden;
      display: block;
      width: 210px;
      height: 31px;
      background: url('~@/assets/logo.png') no-repeat;
      background-size: 100%;
      text-indent: -9999px;
      font-size: 0;
    }
  }
}
