@import '~@/styles/global.scss';

@mixin detailBtn($width: 100%, $color: '') {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $width;
  text-align: left;
  color: $color;

  &::after {
    content: '';
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url('~@/assets/arrow.png') no-repeat 0 -24px;
    background-size: 24px;
  }
}

.light {
  padding-left: 4px;
  width: 20px;
  height: 20px;
  background: no-repeat;
  background-size: 100%;

  &.red {
    background-image: url('~@/assets/draw/light_red.png');
  }

  &.green {
    background-image: url('~@/assets/draw/light_green.png');
  }
}

.CustomerOperation {
  .card {
    margin: 0 0 16px;
  }

  .iTable {
    font-size: 14px;

    .iTr {
      display: flex;
      min-height: 40px;
      border-left: 1px solid $line;
      border-top: 1px solid $line;
      &:last-child {
        border-bottom: 1px solid $line;
      }
      &:nth-child(1) {
        background: #f8f8f8;
        font-size: 12px;
        color: $textColorSub2;
      }

      .iTd {
        border-right: 1px solid $line;
      }

      .iTd:not(:nth-child(5)) {
        display: flex;
        align-items: center;
        padding-left: 10px;
      }

      .iTd:nth-child(1) {
        flex: 3;
        display: flex;
        padding-right: 10px;

        button {
          @include detailBtn(100%);
        }
      }

      .iTd:nth-child(2),
      .iTd:nth-child(3) {
        position: relative;

        .history {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 36px;
          padding-left: 10px;
          width: 100%;
          color: $textColorSub2;

          p {
            line-height: 18px;
          }
        }
      }

      .iTd:nth-child(2),
      .iTd:nth-child(3),
      .iTd:nth-child(4) {
        flex: 2;
      }

      .iTd:nth-child(5) {
        flex: 16;

        .iTdDWrap {
          display: flex;
          border-bottom: 1px solid $line;
          &:last-child {
            border-bottom: 0;
          }

          .iTdD {
            display: flex;
            align-items: center;
            padding-left: 10px;
            height: 40px;
            border-right: 1px solid $line;
            &:last-child {
              border-right: 0;
            }
          }

          .iTdD:nth-child(1) {
            flex: 3;
            min-width: 300px;

            span {
              position: relative;
              margin-left: -10px;
              padding-left: 10px;
              height: 32px;
              line-height: 32px;
            }
          }

          .iTdD:nth-child(2),
          .iTdD:nth-child(3),
          .iTdD:nth-child(4),
          .iTdD:nth-child(5) {
            flex: 1;
          }

          .iTdD:nth-child(3),
          .iTdD:nth-child(5) {
            display: flex;
          }

          .iTdD:nth-child(5) {
            justify-content: center;
            padding: 0;

            button {
              @include detailBtn(54px, $textColorSub2);
            }
          }
        }
      }
    }
  }
}
