@import '~@/styles/global.scss';

@mixin loginBtn {
  background: linear-gradient(to bottom, #fdc159, #fa891f);
  border-radius: 100px;
  font-size: 12px;
  color: #fff;
}

// 扫码登录
.LoginForQRCode {
  padding-top: 16px;

  .qrcode {
    position: relative;
    margin: 0 auto;
    width: 180px;

    .canvas {
      display: block;
      width: 180px;
      height: 180px;
    }

    .reload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 180px;
      height: 180px;
      background: rgba(0, 0, 0, 0.4);

      i {
        width: 24px;
        height: 24px;
        background: url('~@/assets/spirit.png') no-repeat 0 0;
        background-size: 24px;
      }

      span {
        color: #fff;
        font-size: 12px;
      }
    }
  }

  p {
    margin: 8px auto 0;
    width: 180px;
    font-size: 12px;
    text-align: center;
    color: $textColorSub2;
  }

  button {
    @include loginBtn;
    margin: 6px auto 0;
    width: 130px;
    height: 32px;
  }
}

// 账户登录
.LoginForUser {
  padding: 24px 36px 0;

  & :global(.ant-row) {
    position: relative;
    margin: 0;
    height: 72px;

    :global(.ant-form-item-label) {
      position: absolute;
      left: 0;
      top: 0;
      height: calc(34px - 1px);
      z-index: 2;

      :global(label) {
        display: flex;
        height: 100%;

        i {
          display: block;
          width: 24px;
          height: 24px;
          background: url('~@/assets/spirit.png') no-repeat;
          background-size: 24px;
          &.usernameIcon {
            background-position: 0 -24px;
          }
          &.passwordIcon {
            background-position: 0 -48px;
          }
        }
      }
    }

    :global(.ant-form-item-control) {
      height: 58px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      :global(.ant-form-item-control-input) {
        height: 34px;
      }

      :global(.ant-form-item-explain) {
        padding-left: 32px;
        height: 24px;
      }
    }

    input {
      padding-left: 32px;
      background: transparent;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      box-shadow: none !important;
    }
  }

  .submit {
    @include loginBtn;
    width: 100%;
    height: 32px;
  }

  .forgetPwd {
    margin: 18px auto 0;
    font-size: 12px;
    color: $textColorSub2;
  }
}

// 页面主体
.Login {
  width: 100%;
  height: 100%;
  background: url('~@/assets/login_bg@2x.png') no-repeat center 0;
  background-size: cover;

  .board {
    margin: 0 auto;
    padding: 120px 0 0;
    width: 1100px;
    @include clearfix;

    h1 {
      float: left;
      margin-top: -96px;
    }

    .form {
      float: right;
      width: 360px;
      height: 360px;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 8px 24px 0 rgba(38, 20, 3, 0.14);
    }
  }
}
