@import '~@/styles/global.scss';

.SmartManageBoard {
  @include pageBase;

  .title {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding: 0 8px;
    height: 40px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
    }

    .theDatePicker {
      position: absolute;
      right: 10px;
      bottom: -48px;
      z-index: 1;
    }
  }

  & :global(.ant-tabs .ant-tabs-nav::before) {
    border: 0;
  }
  & :global(.ant-tabs-nav-wrap) {
    height: 40px;
  }
  & :global(.ant-tabs-ink-bar) {
    background: $themeColor;
  }
  & :global(.ant-tabs .ant-tabs-nav::before) {
    border: 0;
  }
  & :global(.ant-tabs-tab .ant-tabs-tab-btn) {
    font-size: 16px;
  }
  & :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    font-weight: bold;
    color: $themeColor;
  }
}
