@import '~@/styles/global.scss';

.SmartManageBoard {
  @include pageBase;

  .title {
    display: flex;
    position: relative;
    margin-bottom: 8px;
    padding: 0 8px;
    height: 40px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
    }

    .theDatePicker {
      position: absolute;
      right: 10px;
      bottom: -48px;
      z-index: 1;
    }
  }
}
